# Ignore Python virtual environments
venv/
.cvenv/
env/
.venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Environment settings
.env

# macOS system files
.DS_Store

# VSCode and IDE config
.vscode/
.idea/
